body{}

img[src*="blue"]{background: #D1E751 !important; width: 40px; height: 40px; padding: 1px; content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');}
img[src*="grey"]{background: #eee !important; width: 40px; height: 40px; padding: 1px; content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');}
img[src*="yellow"]{background: #FFF42B !important; width: 40px; height: 40px; padding: 1px; content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');}
img[src*="red"]{background: #E54028 !important; width: 40px; height: 40px; padding: 1px; content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');}


.healthReportDetails table tbody tr td img{ width: 50px !important; }

.yui-menu-shadow{display: none;}
#breadcrumb-menu{position:relative; padding-top: 20px; background: none; border: none;}
#breadcrumb-menu .bd{position:relative; border: 3px solid black; background: #fff;}
#breadcrumb-menu .bd:before{
        content:"";
        position: absolute;
      width: 0; 
	height: 0;
	left: 40px;
	top: -15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid black;    
}
#breadcrumb-menu .bd:after{
        content:"";
        position: absolute;
    	width: 0; 
	height: 0;
	left: 40px;
	top: -11px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;    
}

.yuimenuitem-selected:hover{outline:none !important;}
.yuimenuitemlabel{padding-left: 0px !important;}
.yuimenuitemlabel-selected{outline:none; background: #fff;}
.yuimenuitemlabel-selected:hover{cursor: pointer;outline:none; }
